// Theme color variables
$primaryColor: #3B8AD4;
$infoColor: #2a67f5;
$successColor: green;
$dangerColor: #ec5463;
$warningColor: #ffce55;
$secondaryColor: #fcfcfc;
$tertiaryColor: #05050b;

$sidebarWidth: 280px;
